@use "../../assets/styles/variables" as *;

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__empty-message {
        text-align: center;
        color: $color-black;
        font-size: 0.8rem;
        font-family: $font-body-secondary;
        width: 85%;
    }
}