@use "../../assets/styles/variables" as *;

.item {
    display: flex;
    align-items: center;
    border: 2px solid $color-black;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    &__checkbox {
        margin-right: 1rem;
    }

    &__text {
        flex-grow: 1;

        &--completed {
            text-decoration: line-through;
        }
    }

    &__delete {
        background: none;
        border: none;
        cursor: pointer;
    }
}