@use "../../assets/styles/variables" as *;

.navbar {
    position: fixed;
    width: 100%;   
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-violet;
    padding: 1.3rem;
    color: $color-white;

    &__title {
        font-family: $font-body-secondary;
        font-size: 1.5rem;
    }

    &__reset {
        background-color: $color-white;
        color: $color-grey;
        font-family: $font-body-secondary;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 0.8rem;
        font-size: 0.9rem;
        margin-right: 2.5rem;

        &:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            color: $color-violet; 
        }
    }
}

.main {
    padding-top: 5rem;
}