@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');

/* Fonts */
$font-body: "Lato", sans-serif;
$font-body-secondary: "Roboto", sans-serif;
$font-headers: "Shadows Into Light", sans-serif;
$font-body-tertiary: "Indie Flower", sans-serif;

/* Colour palette */
$color-grey: #808080;
$color-white: #FFFFFF;
$color-violet: #7F7FFF;
$light-violet: #B2B2FF;
$light-lavender: #E5E5FF;
$color-black: #000000;

/* Breakpoints for media queries */
$breakpoint-mobile: 320px;
$breakpoint-mobile-medium: 375px;
$breakpoint-mobile-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-large-desktop: 2560px;